.purchase-product-info img {
    width: 300px;
    height: 190px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.purchase-product-form form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto
}
.purchase-product-form form input, .purchase-product-form form textarea {
    margin: 5px 0 20px;
    border: none;
    outline: none;
    border-bottom: 3px solid red;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .purchase-product-form form {
        width: 95%;
    }
}