.orders {
    width: 600px;
    margin: auto;
}
.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    margin: 15px 0;
    padding: 5px 0;
}

@media only screen and (max-width: 768px) {
    .orders {
        width: 100%;
    }
}