.banner {
    background: url('../../../images/home/banner-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 670px;
    display: flex;
    align-items: center;
}
.banner-img {
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 10px;
}
.banner-button {
    width: 170px;
}